.wrapper{
    display: flex; 
    align-items: center; 
    justify-content:center;
    flex-direction: column;
  }

  .wrapper-header{
    font-family: montserrat;
    font-size: 50px;
    margin: 30px, 0px;
    padding: 20px;
  }

  .wrapper-button{
    padding: 10px;
    display: flex; 
    align-items: center; 
    justify-content:center;
  }

  .wrappr-text-google{
      font-size: 25px;
   }