<div class="wrapper">
    <div class="wrapper-header">Google Social Login</div>
    
    <div class="wrapper-button">
  <button mat-button style="padding: 1rem;" (click)="signInWithGoogle()">
    <img src="../../../assets/images/google1.png" width="30px" height="30px">&nbsp;&nbsp;&nbsp;
    <span class="wrappr-text-google">Login With Google</span>
 </button>  
  </div>

  <div class="wrapper-button">
    <button mat-button style="padding: 1rem;" (click)="signInWithFB()">
      <img src="../../../assets/images/facebook1.jpg" width="30px" height="30px">&nbsp;&nbsp;&nbsp;
      <span class="wrappr-text-google">Login With Facebook</span>
   </button>  
    </div>

</div>