.header-logout{
    margin-left: auto;
}

.example-card {
    max-width: 300px;
    margin:auto;
  }
  
  .example-header-image {
    
    background-size: cover;
  }

  .mat-card-header .mat-card-subtitle:not(:first-child) {
    margin-top: -8px;
    margin-left: 74px;
}

.mat-card-header .mat-card-title {
    margin-bottom: 12px;
    margin-left: 60px;
}